* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFEC9F;
    width: 100%;
}

#target {
    background-color: #79492E;
    width: 100%;
    height: 300px;
}
.top-title{
    font-family: 'Raleway', sans-serif;
    width: 50%;
    text-align: center;
    letter-spacing: 2.8rem;
    margin: 0 auto;
    color: #FFF;
    
}